.SearchBar {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/skyscraper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
  }
  
  .SearchBar-sort-options ul {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 10.33rem;
    border-bottom: 1px solid #c27395;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    color: #c27395;
    transition: color .25s;
  }

  .search-business {
    height: 47px;
  }

  .SearchBar-sort-options li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .suggestion-item {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 12px;
    padding: 10px;
  }

  .suggestion-item--active:hover {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 12px;
    padding: 10px;
  }

  .SearchBar-fields input {
    width: 21rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #7F4378;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #7F4378;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: background-color .5s;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #915089;
    color: white;
    text-decoration: none;
  }
  

  h1 {
    padding: 2rem 0;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
  }

  
  @media only screen and (max-width: 560px) {
    .SearchBar {
      background-image: url('./background_search_mobile.jpg');
    }
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }
  